{
    "RootNamespace": "MGExportModule",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=LAPTOP-P5M36UR2; Initial Catalog=MGExportInvoice; User ID=sa; Password=123#",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.CmnUserInfo",
                    "Identifier": "UserInfo",
                    "Module": "Common",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CmnItemSize",
                    "Identifier": "CmnItemSize",
                    "Module": "Common",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CmnItemGroup",
                    "Identifier": "CmnItemGroup",
                    "Module": "Common",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CmnItemCategory",
                    "Identifier": "CmnItemCategory",
                    "Module": "Common",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CmnItemBrand",
                    "Identifier": "CmnItemBrand",
                    "Module": "Common",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CmnItemModel",
                    "Identifier": "CmnItemModel",
                    "Module": "Common",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CmnItemMaster",
                    "Identifier": "CmnItemMaster",
                    "Module": "Common",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SalesInvoiceMaster",
                    "Identifier": "SalesInvoiceMaster",
                    "Module": "Sales",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SalesInvoiceDetail",
                    "Identifier": "SalesInvoiceDetail",
                    "Module": "Sales",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CmnUserType",
                    "Identifier": "UserType",
                    "Module": "Common",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=LAPTOP-P5M36UR2; Initial Catalog=MGExportInvoice; User ID=sa; Password=123#",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\MGExportModule\\MGExportModule.Web\\MGExportModule.Web.csproj",
    "BaseRowClasses": [
        {
            "ClassName": "NRow",
            "Fields": [
                "InsertDate",
                "InsertUserId",
                "UpdateDate",
                "UpdateUserId"
            ]
        }
    ],
    "RemoveForeignFields": [
        "InsertDate",
        "InsertUserId",
        "UpdateDate",
        "UpdateUserId"
    ],
    "CustomTemplates": "E:\\Practice Serenity TVL\\MGExportModule\\MGExportModule\\MGExportModule.Web\\Modules\\_Ext\\CodeGeneratorTemplates",
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}