@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Sales.SalesInvoiceMaster.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MGExportModule.Sales.SalesInvoiceMasterGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>