@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Common.UserInfo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MGExportModule.Common.UserInfoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>