@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Common.UserType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MGExportModule.Common.UserTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>